<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>启动 IndexTTS2</string>
	<key>CFBundleExecutable</key>
	<string>IndexTTS2Launcher</string>
	<key>CFBundleIconFile</key>
	<string>IndexTTS2.icns</string>
	<key>CFBundleIdentifier</key>
	<string>local.indextts2.launcher</string>
	<key>CFBundleName</key>
	<string>IndexTTS2 启动器</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
